@use "/src/assets/scss/core/variables" as *;

.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;

    &>ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        &>li {
            display: flex;
            height: 100%;

            &.prev,
            &.next {
                &>a {
                    display: flex;
                    align-items: center;
                    padding: 2px 8px;
                    border-radius: 2px;
                    border: 1px solid $brand-color;
                    color: $brand-color;
                    opacity: 1;

                    &:hover {
                        opacity: .8;
                        transition: opacity .2s ease-in-out;
                        will-change: opacity;
                    }

                    &>svg {
                        fill: $brand-color;
                    }
                }

            }

            &>a {
                color: $light-color;
            }

            &.active {
                &>a {
                    padding: 2px 8px;
                    border-radius: 2px;
                    border: 1px solid $brand-color;
                    color: $brand-color;
                    opacity: 1;
                    color: $brand-color;
                    transition: color .2s ease-in-out;
                    will-change: color;
                }
            }

            &:hover {
                color: $brand-color;
                cursor: pointer;
                transition: color .2s ease-in-out;
                will-change: color;
            }


        }
    }
}