@use '../../assets/scss/core/variables' as *;

.btn {
    display: inline-flex;
    outline: none;
    background-color: transparent;
    border: none;
    color: $light-color ;
    padding: 10px 24px;
    border-radius: 5px;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &>svg {
        fill: $brand-color;
        transition: fill .2s ease-in-out;
        will-change: fill;
    }


    &.btn-primary {
        background-color: $brand-color;
        border: 1px solid $brand-color;
        box-shadow: 0 0 0 transparent;
        opacity: 1;
        transition: opacity .2s ease-in-out;
        will-change: opacity;

        &:hover {
            opacity: .8;
        }
    }

    &.btn-outline {
        color: $brand-color ;
        border: 1px solid $brand-color;
        background-color: transparent;
        transition: color .2s ease-in-out,
            background-color .2s ease-in-out;
        will-change: color, background-color;

        &:hover {
            background-color: $brand-color;
            color: $light-color;

            &>svg {
                fill: $light-color;
            }
        }

    }
}