/* css header */
@use '/src/assets/scss/core/variables' as *;
@use '/src/assets/scss/core/mixins' as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: var(--height-header);
    background-color: transparent;
    z-index: 99;
    transition: background-color .2s ease-in-out,
        height .2s ease-in-out;
    will-change: background-color, height;

    &>.container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        &>.logo {
            display: inline-flex;

            &>img {
                max-height: 120px;
                transition: max-height .2s ease-in-out;
                will-change: max-height;
            }
        }

        &>.auth {
            display: flex;
            align-items: center;

            &>.search {
                display: inline-flex;

                &>svg {
                    fill: $brand-color;
                    margin-right: 2rem;
                }
            }

            &>.log-in {
                display: inline-block;
                border: 1px solid $brand-color;
                background-color: transparent;
                color: $brand-color ;
                padding: 10px 24px;
                border-radius: 5px;
                text-transform: capitalize;
            }
        }

    }

    &.active {
        height: calc(var(--height-header) - 10px);
        background-color: rgba($color: $light-color, $alpha: 1);

        &>.container-fluid {
            &>.logo {
                &>img {
                    max-height: 100px;
                }
            }
        }

    }
}

@include xs {
    header {
        &.active {
            &>.container-fluid {
                &>.logo {
                    &>img {
                        max-height: 80px;
                    }
                }
            }
        }

        &>.container-fluid {
            &>.logo {
                &>img {
                    max-height: 90px;
                }
            }
        }
    }

}